# Introduction - Part 2

### **Include necessary library and Read excel file**

In [1]:
import pandas as pd
# read the data file and show the first few entries
data = pd.read_excel('Sample_Part2.xlsx',index_col='Index')
data.head()
data.tail()

           Class  Price
Index
12         fruit      5
13     vegetable      1
14     vegetable      5
15     vegetable      2
16     vegetable      4

In [20]:
print(data)

           Class  Price
Index
1          fruit      5
2          fruit      5
3          fruit     10
4          fruit     10
5          fruit      3
6      vegetable      1
7      vegetable      1
8      vegetable      5
9      vegetable      2
10     vegetable      4
11         fruit      5
12         fruit      5
13     vegetable      1
14     vegetable      5
15     vegetable      2
16     vegetable      4

### Ex.01 - Groupby and Count

In [13]:
n_class = data.groupby('Class')['Price'].count() #combine class & price into datafram -> take number of class
print(n_class)
print(' ')


print('Number of fruits = ', n_class['fruit'])
print(' ')

print('Total number of products', sum(n_class))

Class
fruit        7
vegetable    9
Name: Price, dtype: int64

Number of fruits =  7

Total number of products 16

### Ex.02 - Groupby and sum

In [4]:
print(data)
print(' ')

n_class = data.groupby('Class')['Price'].sum()
print(n_class)

           Class  Price
Index
1          fruit      5
2          fruit      5
3          fruit     10
4          fruit     10
5          fruit      3
6      vegetable      1
7      vegetable      1
8      vegetable      5
9      vegetable      2
10     vegetable      4
11         fruit      5
12         fruit      5
13     vegetable      1
14     vegetable      5
15     vegetable      2
16     vegetable      4

Class
fruit        43
vegetable    25
Name: Price, dtype: int64

### Ex.03 - Create a new column

In [5]:
data['data_price'] = data['Price'] > 4 #create new column
print(data)
print(' ')

print('The sum of data_price = ', sum(data['data_price']))
print(' ')

n_fruit_4 = data.groupby('Class')['data_price'].sum()#number of fruit & vegetable with price > 4
print(n_fruit_4)

           Class  Price  data_price
Index
1          fruit      5        True
2          fruit      5        True
3          fruit     10        True
4          fruit     10        True
5          fruit      3       False
6      vegetable      1       False
7      vegetable      1       False
8      vegetable      5        True
9      vegetable      2       False
10     vegetable      4       False
11         fruit      5        True
12         fruit      5        True
13     vegetable      1       False
14     vegetable      5        True
15     vegetable      2       False
16     vegetable      4       False

The sum of data_price =  8

Class
fruit        6
vegetable    2
Name: data_price, dtype: int64